
<!-- Конструкция import -->
<!--  импортируем макрос, который создает диалоговые окна в нашей .html странице-->
<!-- обращаемся к макросу через alias синоним - dlg -->
{% import 'dialogs.html' as dlg %}
<!-- эквивалентная запись - from - c alias dlg -->
<!-- {% from 'dialogs.html' import dialog_1 as dlg %} -->
<!-- эквивалентная запись - from - без alias dlg -->
<!-- {% from 'dialogs.html' import dialog_1 %} -->

<!-- Блок include - в котором подключаем header.html и footer.html -->
<!-- В программе загружается именно шаблон page.html, автоматически подключая header.html и footer.html -->
{% include 'header.html' %}
<!-- {% include 'header2.html' ignore missing%} - если файла header2.html нет  -->
<p>Content of page</p>


<!-- Создадим наше диалоговое окно - обращаемся через alias dlg -->
<!-- Вызываем макрос dialog_1 и передаем ему два параметра ('Внимание', 'Это тестовый диалог') -->
{{ dlg.dialog_1('Внимание', 'Это тестовый диалог') }}
<!-- при использовании эквивалентной записи - from с alias, можем писать -->
<!-- {{ dlg('Внимание', 'Это тестовый диалог') }} -->
<!-- при использовании эквивалентной записи - from без alias, можем писать -->
<!-- {{ dialog_1('Внимание', 'Это тестовый диалог') }} -->


{% include 'footer.html' %}
